/* My styles */

a
{
	color: black;

}

a:hover
{
	color: grey;
}

@font-face
{
	font-family: 'Titillium Web';
	src: url('../fonts/titilliumweb-regular.ttf');
}

body
{
	margin-left: 0px;
	margin-right: 0px;

	font-family: 'Titillium Web', helvetica, sans-serif;
	width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden; 
}


.main-logo
{
	display: block;
	position: relative;
	widows: 150px;
	height: 100px;
	left: 50%;
	margin-top: 50px;
	margin-bottom: 50px;
	transform: translate(-50%, 0%);
}


.main-header
{
	width: 100%;
	height: 500px;
	background-image: url('../imgs/homepage_scroll _image_1.jpg');
	background-size: 100% 800px;
	
}


.header-title-box
{
	display: block;
	position: relative;
	
	
	background-color: rgba(21,100,161,0.6);
	
	width: 413px;
	height: 69px;
	left: 51%;

	top: 40%;
	transform: translate(-50%,0%);

}
.header-title-word
{
	display: block;
	position: relative;
	
	top:10%;
	font-size: 38px;
	font-family: 'Titillium Web', Helvetica, sans-serif;
	color: white;
	text-align: center;
	text-transform: uppercase;
	
}

.section-head
{
	display: block;
	position: relative;
	width: 500px;
	height: 400px;
	left: 50%;
	transform: translate(-50%,0%);

	color: rgb(21,100,161);
}

.section-head-content
{
	display: block;
	position: relative;
	top:50%;
	transform:translate(0%, -50%);
	font-size: 22px;
	font-weight: bold;
	text-align: center;

}

.main-images-container
{
	display: block;
	position: relative;
	width: 100%;
	height: 300px;	
	/* padding-left: 10%; */
	margin:0px;
}
.images-container
{
	display: inline-block;
	position: relative;
	width: 33%;
	height: 300px;
	background-image: url('../imgs/homepage-section3_3.jpg');
	background-position: center;
	background-size: cover;
	overflow: hidden;

}

.box-image1
{
	display: inline-block;
	position: relative;
	width: 450px;
	height: 300px;
	padding: 0px;
	margin:0px;
}
.box-image2
{
	display: inline-block;
	position: relative;
	width: 450px;
	height: 300px;
	padding: 0px;
	margin:0px;	

}
.box-image3
{
	display: inline-block;
	position: relative;
	width: 440px;
	height: 300px;
	padding: 0px;
	margin:0px;
}

.testimonial-display-widget
{
	display: block;
	position: relative;
	width: 500px;
	left:50%;
	transform:translate(-50%,0%);
	text-align: center;
	margin-top: 80px;
	margin-bottom: 80px;

}
.testimonial-header
{
	color: rgb(21,100,161);
	font-weight: bold;
	margin-bottom: 50px
}

.testimonial-footer
{
	margin-top: 20px;
	color: rgb(21,100,161);	
	font-weight: bold;
}



.footer-homepage
{
	display: block;
	position: relative;
	background-image: url('../imgs/footer.jpg');
	width: 100%;
	height: 300px;
	background-size: 100% 100%;
	-webkit-background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	-o-background-size: 100% 100%;

}

.footer-links
{
	display: block;
	position: relative;
	left:5%;
	bottom: -70%;
}
.footer-links a
{
	display: inline-block;
	position: relative;
	
	color:white;

}
.footer-links a:hover
{
	color: #c0c0c0;
}

.footer-text
{
	color:white;	
	font-weight: bold;
	margin-top:10px;
}
.social-links
{
	display: inline-block;
	position: relative;
	width: 100vw;
	text-align: right;
	right:16vw;
	bottom: 230px;
	color:white;
	font-weight: bold;
	
}



/*about-us page*/
.about-us-header
{
	width: 100%;
	height: 500px;
	background-image: url('../imgs/about-us-header.jpg');
	background-size: 100% 800px;
}

.round-img
{
	display: inline-block;
	position: relative;
	width: 150px;
	height: 150px;
	top:-22px;
	left:130px;


}
.person-image-description
{
	display: inline-block;
	position: relative;
	width: 600px;
	top:60px;
	left:208px;
}

.person-image-description h3
{
	color: rgb(21,100,161);
	font-weight: bold;
}

.person-image-description p
{
	color: rgb(21,100,161);
	
}

/*services page*/

.services-header
{
	width: 100%;
	height: 500px;
	background-image: url('../imgs/services-header.jpg');
	background-size: 100% 800px;
	background-position: 0px -150px;

}

.services-section2
{
	background-color:  rgb(21,100,161);
}

.services-section2-text
{
	color: white;
}

.services-section-head
{
	display: block;
	position: relative;
	width: 500px;
	height: 400px;
	left: 29%;

	color: white;
}

.services-section-head-content
{
	display: block;
	position: relative;
	top:50%;
	left:60%;
	font-size: 22px;
	/*font-weight: bold;*/
	text-align: center;
	transform: translate(-50%,-50%);
	
}

.blue-text
{
	color:rgb(21,100,161);
}

.make-text-bold
{
	font-weight: bold;
}

.justify-text
{
	text-align: justify;
}

.left-align-text
{
	text-align: left;	
}


/*Resource link page*/


.resource-link-header
{
	width: 100%;
	height: 500px;
	background-image: url('../imgs/resource-link-header.jpg');
	background-size: 100% 100%;

}

/*contact us header*/

.contactus-header
{
	width: 100%;
	height: 500px;
	background-image: url('../imgs/contactus-header.jpg');
	background-size: 100% 600px;	
	background-position: 0px -50px;				
	font-family: 'Titillium Web', Helvetica, sans-serif;
}


.contactus-section
{
	display: block;
	position: relative;
	left: 50%;
	transform: translate(-50%,0%);
	width: 500px;
	padding-bottom: 50px;
	border-bottom: 1px solid rgb(21,100,161);


}
.contactus-address
{
	display: block;
	position: relative;
	left: 50%;
	transform: translate(-50%,0%);
	width: 500px;
	padding-top: 30px;
}
.contactus-address p
{
	text-align: center;
	color:rgb(21,100,161);
	font-size: 18px;
}


.contactus-section form span
{
	display: block;
}
.contactus-section form span p , .contactus-section form span input, .contactus-section form span textarea
{
	display: inline-block;
	width: 200px;
}

.contactus-section form span p
{
	text-align: right;
	width: 150px;
	color:rgb(21,100,161);
}
.contactus-section form span input
{
	position: relative;
	left:50px;
	width:270px;
	background-color: #eeeeee;
	border: 0px solid;
	border-color: white;
	box-shadow: none;
	-webkit-box-shadow:none;
	height:40px;
	margin-bottom: 10px;
}

.contactus-section form span textarea
{
	position: relative;
	left:54px;
	background-color: #eeeeee;
	width:270px;
	border: 0px solid;
	border-color: white;
	box-shadow: none;
	-webkit-box-shadow:none;
}


#contact-submit-btn
{
	display: block;
	position: relative;
	top:20px;
	left:335px;
	
	background-color: #0963a1;
	border: 0px solid;
	border-color: white;
	box-shadow: none;
	-webkit-box-shadow:none;
	color: white;
	padding:5px 12px;
	width:138px;

}

/*homepage imgs*/
.three-images-container
{
	
	
	height: 300px;
	width: 110%;
	overflow: hidden;

}

.home-img
{
	display: inline-block;
	position: relative;
	overflow: hidden;
}

#img1
{
	width: 451px;
	height: 450px;
}
#img2
{
	width: 450px;
	height: 450px;
}


#img3
{
	width:250px;
	height: 250px;
}


#home-img1
{
	display: inline-block;
	position: relative;
	width: 450px;
	height: 400px;
	background-image: url('../imgs/homepage-sectionimage1v2.jpg');
	z-index:5;
}
#home-img2
{
	display: inline-block;
	position: relative;
	width: 455px;
	height: 400px;
	background-image: url('../imgs/homepage-sectionimage2v2.jpg');
	background-size: 100% 100%;
	left: -15px;
	z-index:5;
}
#home-img3
{
	display: inline-block;
	position: relative;
	width: 455px;
	left:-19px;
	height: 400px;
	background-image: url('../imgs/homepage-sectionimage3v2.jpg');
	z-index:5;
	
}
.imgbox-title-word
{
	display: block;
	position: absolute;
	top:30%;
	height:40px;
	padding-top:8px;
	width:440px;
	z-index: 10;
	padding:0px 0px;
	margin:0px;
	background-color:rgba(21,100,161,0.6);
	color:rgba(255,255,255,0.7);
	font-size: 24px;
	text-align: center;
	vertical-align: middle;
}
.imgbox-title-word p
{
	display: block;
	position: absolute;
	left:20%;
	top:4px;
}
#imgbox2
{
	width: 455px;
}
#imgbox2 p
{
	display: block;
	position: absolute;
	left:25%;
	top:4px;	
}

#biopharma
{
	left:22%;
}

#homepage-section2
{
	display: block;
	position: relative;
	background-image: url('../imgs/bkc-watermark-pale2.png');
	background-repeat: no-repeat;
	background-position: 49% -120px;
	background-attachment: fixed;
}

#about-us-section
{
	background-image: url('../imgs/bkc-watermark-pale2.png');
	background-repeat: no-repeat;
	background-position: 180px 0px;	
}

#contactus-section
{
	background-image: url('../imgs/bkc-watermark-pale2.png');
	background-repeat: no-repeat;
	background-position: 920px -50px;		
	width:100%;
}

#services-section
{
	width:100%;
	height:100%;
	padding:80px 120px;
	background-image: url('../imgs/bkc-watermark-pale2.png');
	background-repeat: no-repeat;
	background-position: 920px 40px;		
}

#resource-link-section
{
	width:100%;
	
	 padding:0px 200px; 
	background-image: url('../imgs/bkc-watermark-pale2.png');
	background-repeat: no-repeat;
	background-position: 920px 0px;			
}

#testimonials-section
{
	width:100%;
	
	padding:0px 200px; 
	background-image: url('../imgs/bkc-watermark-pale2.png');
	background-repeat: no-repeat;
	background-position: 920px -150px;				
}


.center-text
{
	text-align: center;
}



/*testimonials widget*/


#testimonial-prev-button
{
	display: inline-block;
	position: absolute;
	font-size:65px;
	left:-15%;
	top:42%;
}


#testimonial-next-button
{
	display: inline-block;
	position: absolute;
	font-size:65px;
	left:109%;
	top:42%;
}


/*slides*/


#slides
{
	display: block;
	position: relative;
	width: 100%;
	height: 500px;

}



.resource-link-header-title
{
	margin-bottom: 60px;
}
/* 
#res-test ol a 
{
	color:red;
	text-align: justify;
} */


.resource-section-left-column
{
	left:10%;
}


.col-md-6
{
	padding-right:60px;
	padding-left:45px;
}


#services-col1
{
	padding-right: 40px;
	padding-left: 80px;
}


#services-col2
{
	padding-right: 80px;
	padding-left: 40px;	
}

/*menu styling*/

.main-menu-nav
{
	background-color: #c0c0c0;
	padding-top: 0px;
	padding-bottom: 0px;
	width: 100%;
	height: 50px;
}

.main-menu-list
{
	display: inline-block;
	position: relative;
	list-style: none;
	
	left: 50%;
	transform: translate(-50%,0%);
	margin-top:10px;
}

.menu-item
{
	display: inline-block;
	padding-right: 15px;
	padding-left: 15px;
	color:black;
	position: relative;
	top:-9px;
	font-family: 'Tittilium Web', helvetica, sans-serif;
}

.menu-item:hover
{
	color:grey;
}



#homepage-nav #homepage-menu-item
{
	position: relative;
	text-align: center;
	top:-9px;
	width: 130px;
	height: 49px;
	padding-right: 5px;
	padding-left: 5px;
	padding-top:13px;
	color:black;
	background-color: rgb(21,100,161);

}


#aboutuspage-menu-item
{
	position: relative;
	text-align: center;
	top:-9px;
	width: 130px;
	height: 49px;
	padding-right: 5px;
	padding-left: 5px;
 	padding-top:13px; 
	color:black;
	background-color: rgb(21,100,161);
}


#services-nav #services-menu-item
{
	width:130px;
	height:49px;
	padding-right: 5px;
	padding-left: 5px;
	padding-top:13px;
	background-color: rgb(21,100,161);
}

#resourcelink-menu-item
{
	width:130px;
	height:49px;
	padding-top: 13px;
	padding-right: 5px;
	padding-left: 5px;
	background-color: rgb(21,100,161);
}

#testimonials-menu-item
{
	width:130px;
	height:49px;
	padding-top: 13px;
	padding-right: 5px;
	padding-left: 5px;
	background-color: rgb(21,100,161);	
}

#contactus-menu-item
{
	width:130px;
	height:49px;
	text-align: center;

	padding-top: 13px;
	padding-right: 5px;
	padding-left: 5px;
	background-color: rgb(21,100,161);		
}



/*animations*/

.menu-item
{
	transition: 0.4s;
	color: black;
	
	text-decoration: none;
	text-align: center;
	width:130px;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 0px;
	padding-bottom: 0px;
	margin: 0px 0px; 
}

.menu-item:hover 
{
	position: relative;
	top:-9px;	
	
background-color: #285882;
color: #ffffff  ;
padding-top: 13px;
padding-bottom: 16px;
padding-left: 15px;
padding-right: 15px;

margin: 0px 0px;
}


.social-links
{
	cursor: pointer;
}